* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* INITIAL PAGE RENDERING */
.hidden {
    margin: 0;
    padding: 0;
    visibility: hidden;
    height: 0;
}

.title {
    font-size: 60px;
    font-weight: bold;
    max-width: 50%;
}

.intro-container {
    max-width: 75%;
    margin: 30px auto 50px auto;
}

.intro {
    margin: 5px;
    padding: 10px;
}

.select-team,
.submit-button {
    display: block;
    margin: 20px auto;
    border: 3px solid black;
    box-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
    padding: 5px;
}

.select-team {
    white-space: pre-wrap;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    max-width: 90vw;
}

/* ON SUBMIT - TEAM CREST/NAV */
.crest {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 50px auto;
}

.nav {
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}

.nav button {
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    background-color: #fff;
}

/* JS-CONTAINER */
.js-container h2 {
    margin-left: 10px;
    color: goldenrod;
    font-size: 22px;
    text-transform: uppercase;
}

#news-list,
#stats {
    margin: 50px 10px;
}

#news-list li,
#stats li {
    margin: 20px;
    padding: 20px;
    max-width:80vw;
    border-bottom: 1px solid goldenrod;
}

#news-list li > * {
    margin: 10px;
}

#news-list a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

#stats li {
    text-transform: uppercase;
}

.match-teams {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin:10px;
}

.vs {
    text-align: center;
    color: goldenrod;
    font-size: 24px;
}

.next-match {
    margin: 50px;
    text-transform: uppercase;
    font-size: 20px;
}

.next-match span {
    font-size: 22px;
    font-weight: bold;
}

/* MEDIA QUERIES */

@media only screen and (min-device-width: 768px) {
    .title {
        font-size: 80px;
        margin: 50px 0 0 50px;
    }

    .crest {
        max-height: 250px;
        max-width: 250px;
    }

    .form {
        margin-top: 100px;
    }
}

@media only screen and (min-device-width: 1000px) {
    .title {
        font-size: 100px;
        max-width: 100%;
        text-transform: uppercase;
    }

    .crest {
        max-height: 500px;
        max-width: 500px;
    }

    .js-container h2 {
        font-size: 30px;
        text-align: center;
    }

    #news-list,
    #stats,
    .next-match-container {
        max-width: 65%;
        margin: 50px auto;
    }

    .match-teams {
        font-size: 70px;
        margin: 20px;
    }

    .vs {
        font-size: 36px;
    }

}
